<!-- <button onclick="getData()">Start</button>
<div id="employees"></div> -->

<button onclick="getData()">Start</button>


<div>
<button onclick="showAll()">Show All</button>
<button onclick="showFire()">Show Fire Department</button>
<div id="salary"></div>
